aiohttp==3.9.5
av==12.0.0
tqdm==4.66.5
jupyterlab
pandas
ultralytics==8.3.20
torch>=2.1.0
torchvision>=0.16.0
# --- CLIP dependency (fix auto-update issue) ---
git+https://github.com/ultralytics/CLIP.git